body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    border: 3px solid rgb(169, 0, 0);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}

#kuva1 {
    padding-left: 30px;
    padding-top: 30px;
}

#kuva2 {
    justify-content: center;
}