body {
    background-color: rgb(222, 222, 222)
}

h1 { 
    color: black;
    padding-top: 50px;
    padding-right: 45px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

#otsikko {
    margin-top: 40px;
    background-color: whitesmoke;
    border: 3px solid rgb(156, 9, 9);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    height: 150px;
    font-size: 50px;
}

#nav {
    color: black;
    text-align: center;
    font-size: 23px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}

#kuva4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#kuva5 {
    margin-bottom: 30px
}

#kuva6 {
    margin-bottom: 30px;
}




