body {
    background-color: rgb(222, 222, 222)
}

h1 { 
    color: black;
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    height: 100px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding-top: 30px;
}

#nav {
    color: black;
    text-align: center;
    font-size: 23px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}

#kuva4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#kuva5 {
    margin-bottom: 20px
}




