body { 
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    border: 3px solid rgb(156, 9, 9);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
    padding-bottom: 35px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}

h3 {
    color: white;
    padding-top: 15px;
    font-size: 25px;
}

#osa1 {
    color: white;
    font-size: 20px;
}

#ajaminen {
    background-color: black;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    border: 1px solid rgb(156, 9, 9);
    padding: 8px;
}

#kuva1 {
    margin-left: 500px;
    margin-top: -360px
    
}
