body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    border: 5px solid rgb(169, 0, 0);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}