body {
    background-color: rgb(222, 222, 222);
    color: black;
}

h1 {
    border: 3px solid rgb(156, 9, 9);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    text-align: center;
    font-size: 23px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}


#taulukko {
    color: black;
    padding-left: 30px;
    font-size: 23px;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
}

p {
    color: black;
    font-size: 40px;
}

#tiedot {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#kuva1 {
    margin-left: 750px;
    margin-top: -380px;
}
