body {
    background-color: rgb(222, 222, 222);
    color: black;
}

h1 {
    background-color: whitesmoke;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    height: 100px;
    text-align: center;
    font-size:70px;
    padding-top: 40px;
    text-shadow: 2px 2px 5px rgb(154, 6, 6);
}

#nav {
    text-align: center;
    font-size: 23px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}


#taulukko {
    color: black;
    padding-left: 30px;
    font-size: 23px;
    margin-top: 40px;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
    background-color: whitesmoke;
}

p {
    color: black;
    font-size: 40px;
}

#tiedot {
    padding-left: 30px;
    padding-bottom: 5px;
    width: 500px;
    height: 100px;
    
}

#kuva1 {
    margin-left: 750px;
    margin-top: -300px;
}

#varusteet {
    font-size: 25px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-top: -100px;
    width: 500px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    background-color: whitesmoke;
}

h4 {
    padding-left: 30px;
    font-size: 20px;
    padding-top: 10px;
}

form {
    padding-left: 30px;
    font-size: 17px;
    padding-top: 5px;
}