body {
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    border: 3px solid rgb(156, 9, 9);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}


#taulukko {
    color: white;
    padding-left: 30px;
    font-size: 19px;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
}

p {
    color: white;
    font-size: 40px;
}

#tiedot {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

