body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    border: 3px solid rgb(156, 9, 9);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
}

#yhteystiedot {
    text-align: center;
    color: white;
    font-size: 20px;
}

#kansikuva {
    padding-top: 15px;
}