body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    border: 5px solid rgb(169, 0, 0);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
}

#etusivu {
    color: white;
    padding-left: 30px;
    padding-top: 30px;
    width: 55%;
    height: 100%;
    font-size: 20px;
}

#kuva {
    float: right;
    padding-right: 50px;
}