body {
    background-color: rgb(222, 222, 222)
}

h1 { 
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-size: 120px;
    padding-top: 20px;
}


#nav {
    color: black;
    text-align: center;
    font-size: 23px;
    margin-top: -40px;
}

#yhteystiedot {
    text-align: center;
    color: black;
    font-size: 20px;
}

#kansikuva {
    padding-top: 15px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}