body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    height: 100px;
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 6px solid rgb(156, 9, 9);
}


#nav {
    color: white;
    text-align: center;
    font-size: 33px;
}

#yhteystiedot {
    text-align: center;
    color: white;
    font-size: 20px;
}

#kansikuva {
    padding-top: 15px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}