body {
    background-color: black;
}

h1 { 
    color: white;
    background-color: black;
    text-align: center;
    font-size: 120px;
    padding-top: 20px;
    border: 3px solid white;
}


#nav {
    color: white;
    text-align: center;
    font-size: 23px;
}

#yhteystiedot {
    text-align: center;
    color: white;
    font-size: 20px;
}

#kansikuva {
    padding-top: 15px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}