body { 
    background-color: rgb(222, 222, 222);
}

h1 {
    color: black;
    background-color: whitesmoke;
    border: 3px solid rgb(156, 9, 9);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: black;
    text-align: center;
    font-size: 23px;
    padding-bottom: 35px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(156, 9, 9);
}

h3 {
    color: black;
    padding-top: 5px;
    font-size: 25px;
}

#osa1 {
    color: black;
    font-size: 20px;
}

#kaarreajo {
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    padding: 8px;
}

h4 {
    font-size: 25px;
    padding-top: 5px;
}

#kuva1 {
    margin-left: 500px;
    margin-top: -360px   
}

#osa2 {
    color: black;
    font-size: 20px;
}

#ohjaus {
    color: black;
    background-color: whitesmoke;
    margin-right: 65px;
    margin-top: 50px;
    width: 30%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    text-align: center;
    padding: 8px;
    float: right;
}

#kuva2 {
    margin-left: 30px;
    margin-top: 50px;
}

#voima {
    background-color: whitesmoke;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.712);
    padding: 8px;
    margin-top: 30px;

}

h5 {
    font-size: 25px;
    padding-top: 5px;
}

#osa3 {
    font-size: 20px;
}

#kuva3 {
    float: right;
    margin-left: 500px;
    margin-top: -370px;
}