body { 
    background-color: black;
}

h1 {
    color: white;
    background-color: black;
    border: 3px solid rgb(156, 9, 9);
    height: 100px;
    text-align: center;
    font-size:60px;
    padding-top: 40px;
}

#nav {
    color: white;
    text-align: center;
    font-size: 23px;
    padding-bottom: 35px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(156, 9, 9);
}

h3 {
    color: white;
    padding-top: 5px;
    font-size: 25px;
}

#osa1 {
    color: white;
    font-size: 20px;
}

#kaarreajo {
    background-color: black;
    width: 30%;
    text-align: center;
    margin-left: 30px;
    border: 1px solid white;
    padding: 8px;
}

h4 {
    font-size: 25px;
    padding-top: 5px;
}

#kuva1 {
    margin-left: 500px;
    margin-top: -360px   
}

#osa2 {
    color: white;
    font-size: 20px;
}

#ohjaus {
    color: white;
    margin-right: 65px;
    margin-top: 50px;
    width: 30%;
    border: 1px solid white;
    text-align: center;
    padding: 8px;
    float: right;
}

#kuva2 {
    margin-left: 30px;
    margin-top: 50px;
}
